# Kconfig for OMAP3 ISP driver

config VIDEO_OMAP3_ISP
	bool
	select VIDEOBUF_GEN
	select VIDEOBUF_DMA_SG
	select OMAP_IOMMU

config VIDEO_OMAP34XX_ISP_PREVIEWER
	tristate "OMAP ISP Previewer"
	depends on !ARCH_OMAP3410
	select VIDEO_OMAP3_ISP


config VIDEO_OMAP34XX_ISP_RESIZER
	tristate "OMAP ISP Resizer"
	depends on !ARCH_OMAP3410
	select VIDEO_OMAP3_ISP
